<%- include("header") -%>
<h2>This is the about page.</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius odit eligendi commodi, natus hic nesciunt! Minus aut unde temporibus iste sapiente! At laboriosam quia quam fugit iusto alias enim optio.</p>
<%- include("footer") -%>